<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">

        <link href="/static/new_temp/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/new_temp/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/static/new_temp/css/owl.carousel.min.css" rel="stylesheet">

        <link href="/static/new_temp/css/owl.theme.default.min.css" rel="stylesheet">

        <link href="/static/new_temp/css/tooplate-gotto-job.css" rel="stylesheet">
</head>
<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg">
      <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
              <img src="/static/new_temp/images/kaba2.png" class="img-fluid logo-image">

              <div class="d-flex flex-column">
                  <strong class="logo-text">Kabarak</strong>
                  <small class="logo-slogan">Counselling Portal</small>
              </div>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav align-items-center ms-lg-5">
                {% if 'username' in session %}
                  <li class="nav-item">
                      <a class="nav-link active" href="{{ url_for('index') }}">Homepage</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                  </li>

                  <!-- <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                      <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                          <li><a class="dropdown-item" href="job-listings.html">Job Listings</a></li>

                          <li><a class="dropdown-item" href="job-details.html">Job Details</a></li>
                      </ul>
                  </li> -->

                  <!-- <li class="nav-item">
                      <a class="nav-link" href="contact.html">Contact</a>
                  </li> -->

                  

                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
                

                  {% else %}
                  
                  <li class="nav-item ms-lg-auto">
                      <a class="nav-link" href="{{url_for('register')}}">Register</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link custom-btn btn" href="{{url_for('login')}}">Login</a>
                  </li>
              </ul>
              {% endif %}
          </div>
      </div>
  </nav>


    <!-- navbar end -->

    {% block content %}
    {% endblock %}


    

  <!-- JAVASCRIPT FILES -->
  <script src="/static/new_temp/js/jquery.min.js"></script>
  <script src="/static/new_temp/js/bootstrap.min.js"></script>
  <script src="/static/new_temp/js/owl.carousel.min.js"></script>
  <script src="/static/new_temp/js/counter.js"></script>
  <script src="/static/new_temp/js/custom.js"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>