{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}

{% if result=='Student' %}


<div class="container">
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category,msg in messages %}
      
        <div class="alert alert-{{category}} alert-dismissible fade show  name" role="alert" >
          <strong> {{msg}}</strong>
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
        </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="row">
        <div class="col-lg-12">
            <div class="elements">
                <h3 style="text-align: center; color: #555;">My Appointments</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Counselor</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                        {% for hist in history %}
                        <tr>
                            <td>{{hist[0]}}</td>
                            <td>Dr.{{hist[1]}}</td>
                            <td>{{hist[6]}}</td>
                            <td>{{hist[8]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                </div>
            </div>
        </div>

        <!-- <div class="col-lg-12">
            <div class="elements">
                <h3 style="text-align: center; color: #555;">My Counselling History</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>TestName</th>
                            <th>Allergies</th>
                            <th>Medication</th>
                            <th>Test Method</th>
                            <th>Test Cost</th>
                        </tr>
                        {% for hist in history %}
                        <tr>
                            <td>{{hist[0]}}</td>
                            <td>{{hist[9]}}</td>
                            <td>{{hist[10]}}</td>
                            <td>{{hist[11]}}</td>
                            <td>{{hist[12]}}</td>
                            <td>{{hist[13]}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                </div>
            </div>
        </div> -->

    </div>
</div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="elements">
                    <h3 style="text-align: center; color: #555;">Counselor' Schedule</h3>
                    <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <th>Counselor</th>
                            <th>Day</th>
                            <th>9am-10am</th>
                            <th>10:30am-12pm</th>
                            <th>1pm-3:30pm</th>
                            <th>3:30pm-5:00pm</th>
                            <th>Action</th>
                        </tr>
                        {% for row in data %}
                        <tr>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>
                                {% if row[4]=='Available' %}
                                <p style="color: green; font-weight: bold;">{{row[4]}}</p>
                                {% else %}
                                <p style="color: red; font-weight: 700;">{{row[4]}}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if row[5]=='Available' %}
                                <p style="color: green; font-weight: bold;">{{row[5]}}</p>
                                {% else %}
                                <p style="color: red; font-weight: 700;">{{row[5]}}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if row[6]=='Available' %}
                                <p style="color: green; font-weight: bold;">{{row[6]}}</p>
                                {% else %}
                                <p style="color: red; font-weight: 700;">{{row[6]}}</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if row[7]=='Available' %}
                                <p style="color: green; font-weight: bold;">{{row[7]}}</p>
                                {% else %}
                                <p style="color: red; font-weight: 700;">{{row[7]}}</p>
                                {% endif %}
                            </td>
                            <td><a href="{{url_for('book',id=row[0])}}" class="btn btn-outline-success">Book Appointment</a></td>
                        </tr>
                        {% endfor %}
                        
                    </table>

                </div>
                </div>
            </div>
            <!-- <div class="col-lg-12">
                <div class="elements">
                    
                </div>
            </div> -->
        </div>
        
    </div>




{% else %}

<h3 style="text-align: center; color: #555;">My appointments</h3>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="elements">
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Student Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Time</th>
                        <th>Address</th>
                        <th class="text-center">Action</th>
                    </tr>
                    {% for data in appointment %}
                    <tr>
                        <td>{{data[3]}}</td>
                        <td>{{data[4]}}</td>
                        <td>{{data[5]}}</td>
                        <td>{{data[6]}}</td>
                        <td>{{data[7]}}</td>
                        <td class="text-center">
                            {% if data[8]=='Pending' %}
                            <a href="{{url_for('approve',id=data[0])}}" class="btn btn-outline-success">Approve/Decline</a>
                            {% else %}
                            <button type="button" class="btn btn-warning">Approve/Decline</button>
                            {% endif %}
                            <!-- <a href="{{url_for('labtest',id=data[0])}}" class="btn btn-warning">Send Labtest</a> -->
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                
            </div>
        </div>
    </div>
</div>


<div class="container">
    
    <div class="row">
        <div class="col-lg-12">
            <div class="elements">
                <h3 style="text-align: center; color: #555;">MY SCHEDULE</h3>
    <a href="{{url_for('add')}}" class="btn btn-outline-success" style="margin-bottom: 20px;">Add schedule</a>
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category,msg in messages %}
      
        <div class="alert alert-{{category}} alert-dismissible fade show  name" role="alert" >
          <strong> {{msg}}</strong>
          <button type="button" class="btn-close name1" data-bs-dismiss="alert" aria-label="close"></button>
        </div>

    {% endfor %}
    {% endif %}
    {% endwith %}
                <div class="table-responsive">
                <table class="table  table-hover">
                    <tr>
                        <th>Day</th>
                        <th>9am-10am</th>
                        <th>10:30am-12pm</th>
                        <th>1pm-3:30pm</th>
                        <th>3:30pm-5:00pm</th>
                        <th>Action</th>
                    </tr>
                    {% for row in data %}
                    <tr>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td><a href="{{url_for('update',id=row[0])}}" class="btn btn-primary">Update</a>
                        <a href="{{url_for('delete',id=row[0])}}" onclick="return confirm('Are you sure you want to delete ?')" class="btn btn-danger">Delete</a>
                    </td>
                    </tr>
                    
                    {% endfor %}
                </table>
             
            </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% include 'includes/footer.html' %}

{% endblock %}