{% extends 'base.html' %}
{% block title %} Login {% endblock %}


{% block content %}

<style>
    ul li{
        list-style-type: circle;
        font-weight: bold;
        color: white;
    }
</style>

        <main>

            <section class="hero-section d-flex justify-content-center align-items-center">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <div class="hero-section-text mt-5">
                                <h6 class="text-white">Are you looking for your dream councellor?</h6>

                                <h1 class="hero-title text-white mt-4 mb-4">Online Platform. <br> Counselling portal</h1>

                                <a href="{{url_for('register')}}" class="custom-btn custom-border-btn btn">Register Here</a>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <form class="custom-form hero-form" action="#" method="get" role="form">
                                <h3 class="text-white mb-3">Have a session with Your dream Counselor</h3>
                                
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <ul>
                                            <li>Dr Eliud</li>
                                            <li>Dr Eliud</li>
                                            <li>Dr Eliud</li>
                                        </ul>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12">
                                        <ul>
                                            <li>Dr Eliud</li>
                                            <li>Dr Eliud</li>
                                            <li>Dr Eliud</li>
                                        </ul>
                                    </div>

                                    

                                    
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>


            


{% include 'includes/footer.html' %}
        

   {% endblock %}