<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <style>
        body{
            background: black;
        }
    </style>
</head>
<body>
    <h5>greetings,</h5>
    <p><b>Office of guidance and counselling</b></p>

    <p>Hello, username</p>

    <p>Thank you  for requesting yourself a session for guidance and councelling with your counsellor  on date  </p>

    <p style="margin-top: 10px;"><b><i>You will receive a confirmation email once your request is approved</i></b></p>

    <p style="color: red; margin-top:20px">As members of the Kabarak University family, we purpose at all times and in all places, to set apart in one’s heart, Jesus as Lord. (1 Peter 3:15)</p>

    <p>DISCLAIMER:- The contents and opinions expressed in any email sent from Kabarak University are solely those of the author and do not necessarily represent those of Kabarak University. Kabarak University disclaims any liability to the fullest extent permissible by law for any consequences that may arise from the contents of any email sent from its systems including but not limited to personal opinions, malicious and/or defamatory information and data/codes that may compromise or damage the integrity of the recipient’s information technology systems</p>
</body>
</html>